@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

#header {
	font-family: 'Luckiest Guy', arial;
	font-size: 40px;
	color: blue;
}

* {
	text-align: center;
}

body {
	background-color: #ACB1F2;
}

#refreshButton {
	font-size: 35px;
	color: blue;
	cursor: pointer;
	position: absolute;
	margin-left: 1103px;
	margin-top: 108px;
	border: 3px solid blue;
	background: white;
	padding: 10px;
	border-radius: 40%;
}

#refreshButton:hover {
	font-size: 35px;
	color: blue;
	cursor: pointer;
	position: absolute;
	margin-left: 1103px;
	margin-top: 108px;
	border: 3px solid blue;
	background: #C9CCF0;
	padding: 10px;
	border-radius: 40%;
}

#score {
	font-size: 30px;
	background: white;
	border: 3px solid blue;
	border-radius: 40%;
	font-family: 'Luckiest Guy';
	color: blue;
	padding: 15px;
	width: 30px;
	margin-top: 30px;
	margin-left: 1100px;
	position: absolute;
}

#scoreImg {
	position: absolute;
	margin-top: 45px;
	margin-left: 345px;
}

#balloonIcon {
	position: absolute;
	margin-left: 230px;
	margin-top: 315px;
}

#count {
	font-size: 50px;
	font-family: 'Luckiest Guy';
	color: blue;
	display: block;
	overflow: hidden;
	position: absolute;
	margin-left: 900px;
	margin-top: 180px;
	background-color: white;
	border: 4px solid blue;
	border-radius: 50%;
	padding: 20px;
	width: 90px;
}

#musicBox {
	margin-right: 1000px;
	margin-top: 310px;
	margin-left: 80px;
	position: absolute;
	background: white;
	border: 3px solid blue;
	border-radius: 45%;
	padding: 30px;
}

#musicInstruction {
	font-family: 'Luckiest Guy';
	font-size: 28px;
	color: blue;
	display: block;
}

#balloon-grid {
	background-color: white;
	width: 250px;
	height: 450px;
	border: 5px dotted blue;
	border-radius: 10px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
}

.balloon {
	width: 45px;
	height: 55px;
	background-color: yellow;
	border-radius: 50%;
	margin: 3px;
	flex-grow: 1;
	position: relative;
	cursor: pointer;
	animation: float 7s ease-in-out infinite;
}

.balloon:after {
    position: absolute;
    background: inherit;
    bottom: -5px;
    left: 18px;
    display: block;
    content: '';
    height: 10px;
    width: 3px;
    border-radius: 100%;
}

.balloon.popped {
	visibility: hidden;
}

.balloon.popped:after {
	visibility: hidden;
}

.balloon:active {
	border: 5px solid red;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
